@font-face {
  font-family: "dm";
  src: url("determinationmonoweb-webfont.woff2");
}
h1 {
  font-size: 150px;
}
    h2 {
  font-size: 100px;
}
    p {
  font-size: 30px;
}
    body {
  font-family: "dm";
}
    button {
  font-size: 40px;
}
    img {
  width: auto;
  height: 500px;
}
