    h1 {
  font-size: 150px;
}
    h2 {
  font-size: 100px;
}
    p {
  font-size: 30px;
}
    body {
  font-family: "Determination Mono";
}
    button {
  font-size: 40px;
}
    img {
  width: auto;
  height: 500px;
}

